:root {
    --primary-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --primary-color: rgb(32, 137, 38);
    --secondary-color: rgb(167, 195, 169);
    --terciary-color: tomato;
    --gap: 1rem;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    font-size: 1rem;
}

main {
    display: block;
}

.container {
    max-width: 62.75rem;
    margin: 0 auto;
    padding: 0 1.5rem;
}

h1 {
    color: black;
    font-size: 2rem;
    margin: 1rem 0;
    font-weight: bold;
}

h2 {
    color: black;
    font-size: 1rem;
    margin: 1rem 0;
    font-weight: bold;
}

h3 {
    color: black;
    font-size: 1.2rem;
    margin: 1rem 0;
    font-weight: bold;
}

p {
    margin: 0.6rem 0;
    color: black;
}