:root {
    --primary-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    --primary-color: rgb(41, 170, 48);
    --secondary-color: rgb(167, 195, 169);
    --terciary-color: rgb(231, 245, 230);
    --quarterly-color: tomato;
    --gap: 1rem;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--primary-font);
    font-size: 1rem;
}

main {
    display: block;
}

.container {
    max-width: 62.75rem;
    margin: 0 auto;
    padding: 0 1rem;
}

h1 {
    color: var(--terciary-color);
    font-size: 1.7rem;
    font-weight: bold;
    padding: 0.6rem;
}

h2 {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

h3 {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}

p {
    color: black;
}