main{

    background-color: var(--secondary-color);

    #carrito {
        background-color: white;
        padding:1rem;
        width: 23rem ;
        
        #cajaListado {
            #listado li {
                display:flex;
                flex-wrap: wrap;
                justify-content:space-between;
                span {
                    align-content: center;
                }
                button{
                    background-color: tomato;
                    
                    &:hover{
                        background-color: var(--secondary-color);
                        color: tomato;
                    }
                }
                .mas{
                    width:2rem;
                }
                .menos{
                    width:2rem;
                }


            }
            hr {
                margin: 0.4rem 0;
                border: none;
                height: 1px;
                background-color: var(--primary-color);
            }
        }

        p {
            font-weight: bold;
            margin: 1rem 0;
        }

        #compraFinal {
            display:flex;
            flex-direction: column;
            #butComprar{
                margin-top: 0.5rem;
            }
        }
    }

    #flex{
        padding: 1rem 0;
        display: flex; 
        justify-content: flex-end;
        gap: 1rem;

        button {
            &:hover{
                background-color: white;
            }
        }
    }

    #plantas {
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        gap:1rem;
        padding-bottom: 2rem;

        article div {
            background-color: white;
            padding: 1rem;
            border-radius: 8px;
            transition: 0.4s;

            &:hover{
                transform: scale(1.03);
                transition: 0.4s;
            }

            img {
                width: 100%; 
                height: 200px;
                object-fit: cover;
                border-radius: 8px;
            }

            h3{
                text-align: center;
                padding: 0.7rem;
            }
            
            p{
                text-align: center;
                padding: 0.4rem;
            }

            button {
                width: 100%;
                margin-top: 0.5rem;
                padding: 0.6rem;
            }
        }
    }
}


@media(min-width: 768px){
   main #plantas {
        grid-template-columns: repeat(2, 1fr)
    }
}

@media(min-width: 1004px){
    main #plantas {
        grid-template-columns: repeat(3, 1fr)
    }
}